<%- include ('partials/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">About Our Company</h1>
      <p class="lead text-left">We got glazed, chocolate iced, raspberry filled, chocolate iced glazed, glazed chocolate cake, powder cake, and about three dozen other flavors to satisfy your sugar cravings!</p>
    </div>
  </div>

<%- include ('partials/footer') %>
