<%- include ('partials/header') %>

<form>
    <div class="container">
        <div class="form-group my-5 mx-3">
            <label for="exampleFormControlTextarea1">Got suggestions on a new donut flavor? Shoot us a message.</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button " class="btn btn-light border border-dark my-2">Submit</button>
          </div>
    </div>

</form>


<%- include ('partials/footer') %>
