<!-- connects the header to home page -->
<%- include ('partials/header') %>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 text-center">Welcome to the Donut Shop</h1>
          <p class="lead text-center">We bake the hottest, freshest donuts in town. You want donuts? We got them.</p>
        </div>
      </div>

<%- include ('partials/footer') %>

